.img-circle{
    margin-top: 50px;
    width: 30%;
    height: 30%;
}.pincipal{
    
    align-content: center;
    align-items: center;
    image-orientation: center;
}.formulario{
    margin-top: 140px;
    margin-left: 380px;
    width: 30%;
    height: 400px;

}